body {

}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}

#img {
    border: 1px solid aqua;
    height: 380px;
    width: 380px;
}

#video {
    /*position: absolute;*/
    clip-path: circle(190px at center);
    transform: translate(-450px, -170px);
}